# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Virtual environment
venv/
env/
ENV/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# Test coverage reports
htmlcov/
.coverage
.coverage.*
.nojunk

# Local development data
data/

# Include required files
!requirements.txt
!app.py
!init_db.py
!Dockerfile
!docker-compose.yml
